[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[packages]
scikit-image = "*"
pipenv-shebang = "*"
numpy = "*"
Pillow = "*"
colorcorrect = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
